doctype html
html(lang='en' data-git=git data-rev=rev)
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
  title Yen's Phaser Demo
  link(rel='stylesheet' href='/css/stylesheets/index.css')
  script(type='text/javascript',src='/js/phaser/phaser.2.4.4.particlestorm.min.js')
body
  div#test
  script(type='text/javascript',src='/js/index.js')
  